<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">

							<a class="navbar-brand" href="#">Back</a>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active">

									<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
								</li>
								<li>

									<a routerLink="/miniStatement" routerLinkActive="active">Mini Statement</a>
								</li>
								<li>

									<a routerLink="/fundTransfer" routerLinkActive="active">Fund Transfer</a>
								</li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="#">Logout</a>
								</li>
							</ul>
						</div>

					</nav>
					<div class="jumbotron">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									Dashboard
								</h3>
							</div>
							<div class="panel-body">
								<table>
									<tr>
										<td><span class="label label-primary">User Id</span></td>
										<td>{{userData.userId}}</td>
									</tr>
									<tr>
										<td><span class="label label-primary">Name</span></td>
										<td>{{userData.userName}}</td>
									</tr>
									<tr>
										<td><span class="label label-primary">Account Number</span></td>
										<td>{{userData.accountNo}}</td>
									</tr>
									<tr>
										<td><span class="label label-primary">Account Type</span></td>
										<td>{{userData.type}}</td>
									</tr>
									<tr>
										<td><span class="label label-primary">Branch</span></td>
										<td>{{userData.branch}}</td>
									</tr>
									<tr>
										<td><span class="label label-primary">Account Balance</span></td>
										<td>{{userData.balance}}</td>
									</tr>
								</table>


							</div>

						</div>
					</div>

				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
	</div>
</div>